.backToTop{
    background-color: $primary;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 32px;
    height: 64px;
    width: 64px; 
    display: none;
    box-shadow: rgba(0, 0, 0, 0.47) 2px 1px 10px 3px;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    img{
        height: 50%;
    }
    &:hover{
        transform: scale(1.25);
    }
}