// <div class="contato-container">
//     <div class="input-container">
//         <div class="field">
//             <label for="name">Nome</label>
//             <input id="name" type="text">
//         </div>
//         <div class="field">
//             <label for="email">Email</label>
//             <input id="email" type="text">
//         </div>
//     </div>
//     <div class="assunto-container">
//         <header class="completo">Assunto</header>
//     </div>
//     <div class="text-area-container">
//         <textarea name="mensage">

//         </textarea>
//     </div>
//     <div class="bottom-icons-container">
//         <img src="assets/contato/clear.svg">
//         <img src="assets/contato/clip.svg">
//         <img src="assets/contato/send.svg">
//     </div>
// </div>

.contato-container{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 10% 55% 15%;
    @media screen and (max-width: 768px){
        grid-template-rows: 20% 15% 50% 15%; 
        height: 80vh;
    }
    header{
        height: 100%;

    }
}
.input-container{
    grid-row: 1;
    @extend %flex;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
.assunto-container{
    grid-row: 2;
}
.text-area-container{
    grid-row: 3;
    textarea{
        height: 100%;
        width: 100%;
        resize: none;
        border: none;
        color: $primary;
        font-size: 2rem;
    }
}
.field{
    position: relative;
    margin: 2px 10px;
    font-family: 'Roboto', sans-serif;
    input{
        border-radius: 10px;
        border: 2px solid rgb(212, 212, 212);
        font-size: 1rem;
        transition: all .5s ease-in-out;
        padding: 10px;
        &:focus{
            border-color: $primary;
            outline: none;
        }
        &:focus ~ label, &:valid ~ label{
            top: 0;
            left: 15px;
            background-color: white;
            @media (max-width: 768px){
                opacity: 0;
            }
        }
    }
    label{
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: all 0.5s ease-in-out;
        color: $primary;
    }
}
.bottom-icons-container{
    grid-row: 4;
    height: 100%;
    border: 0 solid rgb(212, 212, 212);
    border-top-width: 2px;
    @extend %flex;
    user-select: none;
    position: relative;
    .icon{
        @extend %flex;
        background-color: #d4d4d4;
        $size: 13vh;
        @media screen and (max-width: 768px){
            $size: 10vh;
        }
        height: $size;
        width: $size;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: width .7s ease-in-out, background-color .7s ease-in-out;
        // border-bottom: 2px solid rgb(212, 212, 212)
        &:hover{
            background-color: $primary;   
        }
        &:last-of-type{
            background: url("../assets/contato/send.svg") no-repeat, $primary;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: 32px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            position: absolute;
            right: 0;
            &:hover{  
                width: 20vh;
            }
        }

        &.clips{
            background: url("../assets/contato/clip.svg") no-repeat, $primary;
            background-position: center;
            background-size: 32px;
        }

        &:first-of-type{
            background: url("../assets/contato/clear.svg") no-repeat, $primary;
            background-position: center;
            background-size: 32px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: absolute;
            left: 0;
            &:hover{
                width: 20vh;
            }
        }
    }
    img{
        height: 32px;
        width: 32px;
        z-index: 12;
    }
    input{
        display: none;
    }
    label{
        // padding: 25%;
        cursor: pointer;
    }
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected{
        background-color: white !important;
        color: $primary !important;
}