#Inicio{
    width: 100%;
    height: 90vh;
    background-color: $primary;  
    border: none;
    margin-top: 10vh;
    &::after{
        background-color: transparent;
    }
    .header{
        @media (max-width: 768px) {
            font-size: 3.5vh;
            margin-bottom: 10px;
        }
        transform: scale(0);
        animation: scale-in 1s ease-in-out forwards 3.2s;
        will-change: transform;
    }
    button{
        transform: scale(0);
        animation: scale-in 1s ease-in-out forwards 3.5s;
        will-change: transform;
    }
    animation: fade-in 1s ease-in-out forwards 3s;
}
@keyframes scale-in{
    to{
        transform: scale(1);
    }
}

.header{
    color: $primary;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    &.white{
        color: white;
    }
}
#left-icons, #right-icons{
    
    width: 25%;
    height: 100%;
    padding: 40px 25px;
    box-sizing: border-box;
    .cls-1 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
    }
    @media screen and (max-width: 768px){
        display: none;
    }
    opacity: 0;
    will-change: opacity;
    animation: fade-in 1s ease-in-out forwards 3.7s;
}
@keyframes fade-in {
    to{
        opacity: 1;
    }
}

.container-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    button{
        margin: 3vh 0;
        padding: 1rem 1.25rem;
        font-size: 3vh;
        @media (max-width: 768px) {
            margin: 0;
            padding: 0.75rem
        }
    }
}
.main-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
