@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.overlay{
    position: absolute;
    animation: fade-out 1s forwards 4s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #393e47;
    z-index: 100;
    top: 0;
    display: none;

}
body{
    // animation: overflow-pop .1s forwards 4.25s;
    // overflow: hidden;
    @keyframes overflow-pop {
        to{
            overflow-y: scroll
        }
    }
}

#splash{
    height: 20%;
    @media (min-width: 768px){
        padding: 0 50px;
    }
    .cls-1 {
        fill: #393e47;
        stroke: #fff;
        stroke-width: 10px;
        stroke-dasharray: 1565.4127197265625;
        stroke-dashoffset: 1565.4127197265625;
        animation: drawn 2.5s linear forwards;
    }

    .cls-1, .cls-3 {
        stroke-miterlimit: 10;
    }

    .cls-2{
        fill: transparent;
        transform: translateY(-50%);
        animation: color 1s linear forwards 1.5s, fade-in .5s ease-in-out forwards 1.5s;
    }

    .cls-3 {
        stroke: white;
        fill: transparent;
        stroke-width: 2px;
        stroke-dasharray: 590.8768920898438;
        stroke-dashoffset: 590.8768920898438;
        transform: translate(5%, -5%);
        animation: drawn 2s linear forwards,
        fade-in .5s linear forwards,
        color .5s linear forwards 2s,
        stroke-color .5s linear forwards 2s;
    }

    @keyframes stroke-color {
        to {
            stroke: $primary;
        }
    }

    @keyframes fade-in{
        to{
            transform: translate(0);
        }
    }

    @keyframes color{
        to{
            fill: white;
        }
    }

    @keyframes drawn{
        to{
            stroke-dashoffset: 0;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1; 
        }
        99%{
            opacity: 0;
            
        }
        to{
            visibility: hidden;
        }
    }
}