@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.overlay{
    position: absolute;
    animation: fade-out 1s forwards 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #393e47;
    z-index: 100;
    top: 0;
    // display: none;

}
body{
    animation: overflow-pop .1s forwards 3.1s;
    overflow: hidden;
    @keyframes overflow-pop {
        to{
            overflow-y: scroll
        }
    }
}

#splash{
    height: 20%;
    transform: scale(1.5);
    @media (min-width: 768px){
        padding: 0 50px;
    }
    .cls-1{fill:#7fe7ff;}
    .cls-2{fill:#292c33;}
    .cls-3{fill:#393e47;}
    .cls-4{fill:#fff;}



    .cls-2{
        animation: fade-in 1s ease-in-out forwards .5s;
        opacity: 0;

    }
    .s, .t, .o, .r, .m{
        animation: fade-in 1s linear forwards;
        opacity: 0;
        will-change: opacity;
    }
    .t{
        animation-delay: .25s;
    }
    .o{
        animation-delay: .5s;
    }
    .r{
        animation-delay: .75s;
    }
    .m{
        animation-delay: 1s;
    }
    .y, .cls-1{
        will-change: transform;
        opacity: 0;
        transform: translate(40px, -80px);
        animation: slide 1s linear forwards 1s, fade-in 1s linear forwards 1s;
    }

    @keyframes slide {
        to{
            transform: translate(0, 0);
        }
    }

    @keyframes fade-in {
        to {
            opacity: 1;
        }
    }



    @keyframes fade-out {
        from {
            opacity: 1; 
        }
        99%{
            opacity: 0;
            
        }
        100%{
            visibility: hidden;
        }
    }
}