

// <div class="appdrawner">
//     <div class="left-arrow-container">
//         <img src="assets/arrow-icon.svg">
//     </div>
//     <div class="app-drawner">
//          <div class="apps">
            //     <div class="app red"></div>
            //     <div class="app blue"></div>
            //     <div class="app yellow"></div>
            // </div>
//     </div>
//     <div class="right-arrow-container">
//         <img src="assets/arrow-icon.svg">
//     </div>
// </div>



%flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.appdrawner{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #d4d4d4;
    --size: 95%;
    height: 15vh;

}
.apps{

    width: inherit;
    height: inherit;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    overflow: hidden;

}
.app{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    background-repeat: no-repeat;
    background-position: center;
    // max-height: 15vh;
    // max-width: 15vh;
    // height: 10vw;
    // width: 10vw;
    // border-radius: 30%;
    opacity: .1;
    transition: opacity 0.6s linear;
    margin: 5% auto;
    // @media (max-width: 768px){
    //     &.app:nth-of-type(4),&.app:nth-of-type(5){
    //         display: none;
    //     }
    // } 
    &:hover{
        opacity: .5;
    }
    &.selected{
        opacity: 1;
    }
}
.audlePlayer{
    background-image: url(../assets/projetos/icons/audlePlayerIcon.svg);
}
.consumoCerto{
    background-image: url(../assets/projetos/icons/consumoCertoIcon.svg);
}
.pokemon{
    background-image: url(../assets/projetos/icons/pokemonIcon.svg);
}
.reactCalc{
    background-image: url(../assets/projetos/icons/reactCalcIcon.svg);
}
.withoff{
    background-image: url(../assets/projetos/icons/withoffIcon.svg);
}

[class*="arrow-container"]{
    @extend %flex;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 0 solid #d4d4d4;
    user-select: none;
    img{
        $size: 50%;
        height: $size;
        width: $size;
    }
}
[class^="left"]{
    border-right-width: 2px;
}
[class^="right"]{
    border-left-width: 2px;
    img{
        transform: rotate(180deg)
    }
}


// <div class="content-container">
//     <div class="screenshoot"></div>
//     <div class="title-container">
//         <h1>
//             Calc
//         </h1>
//     </div>
//     <div class="description-container">
//         <p>
//             Lorem ipsum dolor sit amet
//             consectetur adipisicing elit.
//             Dolorem qui, unde vel mode
//             sunt reprehenderit provident doloribus.
//             Architecto, tempora dolores.
//         </p>
//     </div>
//     <div class="button-container">
//         <button>Abrir</button>
//     </div>
// </div>
.content-container{
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 20% 60% 20%;
    @media (max-width:768px) {
        height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 15% 45% 25%;
    }
}
.screenshoot{
    grid-column: 1;
    grid-row: 1/ 3 span;
    // background-image: url('../assets/projetos/projetosDefault.svg');
    position: relative;
    background-origin: border-box;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0 solid #d4d4d4;
    border-width: 0 2px 2px 0;
    transition: .25s ease-in-out;
    transition-property: background-color, background-image;
    cursor: pointer;
    .ripple{
        border-radius: 50%;
    }
    &:hover{
        background-color : rgba(0, 0, 0, .6);
    }
    @media (max-width: 768px){
        // background-image: url('../assets/projetos/projetosDefaultMobile.svg');
        border-right: none;
        grid-column: 1;
        grid-row: 3;
    } 
    
    &.pokemon{
        background-image: url('../assets/projetos/screenshots/ASPokemon.png');
    }
    &.withoff{
        background-image: url('../assets/projetos/screenshots/WitthoeftScreen.png');
    }
    &.reactCalc{
        background-image: url('../assets/projetos/screenshots/ReactCalculator.png');
    }
    &.audlePlayer{
        background-image: url('../assets/projetos/screenshots/aldle.jpeg');
    }
    &.consumoCerto{
        background-image: url('../assets/projetos/screenshots/consumoCerto.jpeg');
    }
    &.over{
        position : fixed;
        height : 101%;
        width : 101%;
        top : calc(50% - 50%);
        left : calc(50% - 50%);
        background-color : rgba(0, 0, 0, .9);
        z-index : 10;
        cursor: default;
        // opacity : 0;
    }
}
.title-container{
    @extend %flex;
    grid-column: 2;
    grid-row: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    @media (max-width: 768px){
        grid-column: 1;
        grid-row: 1;
    }
}
.description-container{
    @extend %flex;
    grid-column: 2;
    grid-row: 2;
    border: 0 solid #d4d4d4;
    border-width: 2px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    @media (max-width: 768px){
        grid-column: 1;
        grid-row: 2;
    }
}
.button-container{
    @extend %flex;
    grid-column: 2;
    grid-row: 3;
    button{
        border-color: #d4d4d4;
        border-width: 2px;
        font-size: 1.5rem;
        padding: 5px 20px;
    }
    @media (max-width: 768px){
        grid-column: 1;
        grid-row: 4;
        padding: 10px;
    }
}

.closeBtn{
    background-image: url('../assets/contato/clear.svg');
    cursor: pointer;
    background-size: 32px;
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    transition: all .5s ease-in-out;
    opacity: 0;
    &:hover{
        background-color: rgba($color: red, $alpha: .8)
    }
}

.arrow{
    position: fixed;
    height: 50vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    top: 50% ;
    z-index: 12;
    opacity: 0;
    transform: translateY(-50%);
    transition: background-color .25s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    &.left{
        background-image: url('../assets/projetos/arrows/baseline-arrow_back_ios-24px.svg');
        left: 0;
    }
    &.right{
        background-image: url('../assets/projetos/arrows/baseline-arrow_forward_ios-24px.svg');
        right: 0;
    }
    &:hover{
        background-color: rgba(0, 0, 0, .85);
    }
}